<%- include('partials/header') %>

  <div class="home-container centered">
    <img src="images\key.svg" class="key-img" alt="key-image">
    <h1>Secrets</h1>
    <p>Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/signup" role="button">Sign-Up</a>
    <a class="btn btn-dark btn-lg" href="/signin" role="button">Sign-In</a>

  </div>
<%- include('partials/footer') %>