<%- include('partials/header') %>
<%- include('partials/navbar') %>

    <div class="horizontally-centered">
        <img src="images\key.svg" class="key-img" alt="key-img">
        <h1 class="display-3">You've Discovered My Secret!</h1>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 g-4 secrets-panel">
            <% usersWithSecrets.forEach(function(user) { %>
                <% user.secret.forEach(function(secret) { %>
                    <div class="col">
                        <div class="card h-100 secrets-card">
                            <div class="card-body">
                                <p class="card-text"> <%= secret %> </p>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% }); %>
        </div>
    </div>
    <hr>
    <div class="horizontally-centered">
        <a class="btn btn-light btn-lg submit-remove-secret" href="/submit" role="button">+</a>
        <a class="btn btn-dark btn-lg submit-remove-secret" href="/delete" role="button">-</a>
    </div>

    <%- include('partials/footer') %>